<div id="home" class="container-fluid">

    <div class="container">
        <div class="row">
            <div class="col-sm-4 login-box">
                <div class="title-box">
                    <h2>NewYork Times Login</h2>
                    <p>Please enter your Login details !</p>
                </div>
                <form [formGroup]="formGroup" (submit)="createLogin()">
                    <div class="row">
                        <input type="text" placeholder="Enter Email/Username" class="form-control inpt-sm" formControlName="username">
                    </div>
                    <div class="row">
                        <input type="text" placeholder="Enter Password" class="form-control inpt-sm" formControlName="password">
                    </div>
                    <div class="row chk-lab">
                        <div class="col-sm-6">
                            <input type="checkbox"> <label>Remember me</label>
                        </div>
                        <div class="col-sm-6 colkd">
                            <a>Forget Password ?</a>
                        </div>
                    </div>
                    <div class=" submot-row">
                        <button class="btn btn-sm btn-success"><i class="fa fa-paper-plane"></i> Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>