        <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
            <div class="container-fluid px-lg-5">
                <img src="/assets/img/the-new-york-times-1.svg" class="navbar-brand" alt="" style="height:35px;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link active" style="cursor: pointer;" aria-current="page" herf="#" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->


<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-blue topbar mb-4 static-top shadow">

    <img src="/assets/img/the-new-york-times-1.svg" class="navbar-brand" alt="" style="height:35px;">
    <!-- Topbar Search -->
    <form [formGroup]="formGroup" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2" formControlName="search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="getSearchValue()">
                    <i class="fa fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form [formGroup]="formGroup" class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2" formControlName="search">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" (click)="getSearchValue()">
                                <i class="fa fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link active" style="cursor: pointer;color: #fff;" aria-current="page" herf="#" (click)="logout()">Logout</a>

        </li>

    </ul>

</nav>
<!-- End of Topbar -->